<div class="container mt-4">
    <p class="text-primary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ea perferendis accusamus beatae autem totam nostrum modi, provident ut error illo sit doloribus optio aspernatur laudantium accusantium hic non sunt? Iure error libero, dicta nemo atque nihil laborum quaerat culpa. Eos veniam perferendis aliquid est corporis praesentium. Laborum, error consequuntur?</p>
    <button class="btn btn-outline-warning mb-5" (click)="displayText()">Afficher la partie secrète ?</button>

    <ng-template [ngIf]="clic"><div>
        <p>Je suis la partie cachée de la page, are u ok ?</p> 
        <p>Vous avez cliqué {{count}} fois sur le bouton</p>
        <ul>
             <li *ngFor="let date of clicsDate; let i = index" [ngStyle]="{'background-color': i >= 4 ? 'blue': 'bisque'}" [ngClass]="color">Clic {{i+1}} le {{date}} </li>
        </ul>  
    </div></ng-template>
</div>